:root {
  --primary-color: #7eb693;
  --secondary-color: #274c5b;
  --tertiary-color: #efd372;
  --white: #ffffff;
  --light-grey: #f9f8f8;
  --dark-grey: #f1f1f1;

  --fs-1: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem); // max 20px, min 16px
}
