:root {
  --primary-color: #7eb693;
  --light-primary-color: #eff6f1;
  --secondary-color: #274c5b;
  --light-secondary-color: #335b6b;
  --dark-secondary-color: #1f353d;
  --tertiary-color: #efd372;
  --dark-tertiary-color: #edc42f;
  --white: #ffffff;
  --light-grey: #f9f8f8;
  --dark-grey: #f1f1f1;
  --dark-grey-color: #525c60;
  --grey: #b8b8b8;
  --light-grey-1: #d5d5d5;
  --light-grey-2: #d4d4d4;
  --light-blue: #4eabcf;

  --fs-1: clamp(1rem, calc(0.93rem + 0.36vw), 1.25rem); // max 20px, min 16px
  --fs-2: clamp(
    1.88rem,
    calc(1.77rem + 0.54vw),
    2.25rem
  ); // max 36px, min, 30px
  --fs-3: clamp(3.13rem, calc(2.77rem + 1.79vw), 4.38rem); // max 70, min 50
  --fs-4: clamp(1.88rem, calc(1.7rem + 0.89vw), 2.5rem); // max 40, min 30
  --fs-5: clamp(2.19rem, calc(2.01rem + 0.89vw), 2.81rem); // max 45, min 35
  --fs-6: clamp(0.88rem, calc(0.8rem + 0.36vw), 1.13rem); // max 18, min 14
  --fs-7: clamp(1.13rem, calc(1rem + 0.63vw), 1.56rem); // max 25, min 18
  --fs-8: clamp(1rem, calc(0.89rem + 0.54vw), 1.38rem); // max 22, min 16
  --fs-9: clamp(0.63rem, calc(0.55rem + 0.36vw), 0.88rem); // max 14, min 10
  --fs-10: clamp(2.38rem, calc(2.16rem + 1.07vw), 3.13rem); // max 50, min 38
  --fs-11: clamp(1.63rem, calc(1.55rem + 0.36vw), 1.88rem); // max 30, min 26

  --space-140px: clamp(
    1.88rem,
    calc(-0.09rem + 9.82vw),
    8.75rem
  ); //max 140, min 30

  // fonts
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;
  --ff-tertiary: 'Yellowtail', sans-serif;
}
