@import './_typography.scss';
@import './_variables.scss';
@import './_functions.scss';
@import './_layout.scss';
@import './_buttons.scss';

@import './components/_header.scss';
@import './components/_hero-section.scss';
@import './components/_natural-offer-section.scss';
@import './components/_about-us-section.scss';
@import './components/_our-products-section.scss';
@import './components/_testimonial-section.scss';
@import './components/_offer-produtcs-section.scss';
@import './components/_eco-friendly-section.scss';
@import './components/_products-showcase-section.scss';
@import './components/_news-section.scss';
@import './components/_subscribe-to-newsletter-section.scss';
@import './components/_footer.scss';

html {
  scroll-behavior: smooth;
  ul {
    list-style-type: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input {
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}
