@use './_typography.scss';
@use './_variables.scss';
@use './components/header.scss';

html {
  ul {
    list-style-type: none;
  }
}

.org-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 1.875rem; // 30px

  margin: 0 auto;
}

// section -> container(max width, padding) -> content (vertical padding)
