//- index.pug

include ./templates/mixins.pug

include ./templates/header.pug

main
  include ./templates/hero-section.pug
  include ./templates/natural-offer-section.pug
  include ./templates/about-us-section.pug
  include ./templates/our-products-section.pug
  include ./templates/testimonial-section.pug
  include ./templates/offer-products-section.pug
  include ./templates/eco-friendly-section.pug
  include ./templates/products-showcase-section.pug
  include ./templates/news-section.pug
  include ./templates/subscribe-to-newsletter-section.pug

include ./templates/footer.pug