//- index.pug

include ./templates/mixins.pug

include ./templates/header.pug
include ./templates/hero-section.pug
include ./templates/natural-offer-section.pug
include ./templates/about-us-section.pug
include ./templates/our-products-section.pug