.org-about-us {
  background-color: var(--light-grey);

  &__content {
    padding: var(--space-140px) 0 var(--space-140px) 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .org-paragraph {
      max-width: pxToRem(650);
      width: 100%;
    }

    & > .org-label {
      margin-bottom: pxToRem(16);
    }

    & > .org-title {
      margin-bottom: pxToRem(24);
    }

    & > .list {
      margin: pxToRem(56) 0;
    }
  }

  &__img {
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.list {
  &__title {
    font-family: var(--ff-secondary);
    font-weight: 400;
    font-size: var(--fs-7);
    line-height: 1.4;
    color: var(--secondary-color);
  }

  &__item {
    display: flex;

    &:first-child {
      padding-bottom: pxToRem(30);
    }
  }

  &__icon {
    padding: pxToRem(27) pxToRem(24);
    background-color: var(--white);
    border-radius: pxToRem(20);
    margin-right: pxToRem(20);

    max-width: pxToRem(100);
    width: 100%;
    max-height: pxToRem(100);
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .org-about-us__body {
    display: block;
  }
}
