.org-footer {
  &__content {
    padding: var(--space-140px) 0 0 0;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 25%;
    padding-right: pxToRem(19);
    padding-bottom: pxToRem(40);

    & a {
      padding-top: pxToRem(5);
    }
  }

  &__company {
    flex: 1 0 50%;
    padding: 0 pxToRem(52);

    border-left: 1px solid var(--light-grey-1);
    border-right: 1px solid var(--light-grey-1);

    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      text-align: center;
      padding-top: pxToRem(50);
      max-width: pxToRem(530);
      width: 100%;
    }
  }

  &__utility-pages {
    flex: 1 0 25%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: pxToRem(19);

    & h3 {
      margin-bottom: pxToRem(73);
    }

    & a:not(:last-child) {
      margin-bottom: pxToRem(24);
    }
  }

  &__title {
    font-family: var(--ff-secondary);
    font-weight: 700;
    font-size: var(--fs-11);
    line-height: 1.4;
    color: var(--secondary-color);
  }

  &__subtitle {
    margin-top: pxToRem(40);

    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: var(--fs-6);
    line-height: 1.3;
    color: var(--dark-grey-color);
  }

  &__link {
    font-family: var(--ff-primary);
    font-size: var(--fs-6);
    line-height: 1.6;
    color: var(--dark-grey-color);
  }

  &__logo {
    display: flex;
    align-items: center;

    & img:last-child {
      height: pxToRem(36);
    }

    & img:first-of-type {
      margin-right: pxToRem(10);
    }
  }

  &__social-media {
    margin-top: pxToRem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: pxToRem(20);

    cursor: pointer;
  }

  &__socials-img {
    background-color: var(--light-primary-color);
    padding: pxToRem(20);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: pxToRem(100);
  }
}

.org-footer__contact,
.org-footer__utility-pages {
  & > a {
    position: relative;
  }

  & > a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: pxToRem(2);
    bottom: pxToRem(-2);
    left: 0;
    background-color: var(--dark-grey-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  & > a:hover::before {
    transform: scaleX(1);
  }
}

.copyright {
  margin-top: var(--space-140px);
  text-align: center;
  padding: pxToRem(20) pxToRem(15);
  border-top: pxToRem(1) solid var(--light-grey-1);

  & a {
    color: var(--secondary-color);
  }
}

@media (max-width: 1080px) {
  .org-footer {
    &__content {
      padding-bottom: 0;
    }
    &__body {
      flex-direction: column;
    }

    &__contact,
    &__utility-pages {
      align-items: center;
      padding: 0;
    }

    &__company {
      padding: pxToRem(32) 0;
      margin: pxToRem(32) 0;
      border: 0;
      border-top: pxToRem(1) solid var(--light-grey-1);
      border-bottom: pxToRem(1) solid var(--light-grey-1);
    }

    &__utility-pages {
      h3 {
        margin-bottom: pxToRem(32);
      }
    }
  }
}

@media (max-width: 475px) {
  .org-footer {
    &__social-media {
      gap: pxToRem(8);
    }
  }
}
