.org-our-products {
  &__content {
    padding: var(--space-140px) 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: pxToRem(42);
  }
}
