.org-testimonial {
  position: relative;

  &-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -10;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--space-140px) 0;
    & > .org-label {
      margin-bottom: pxToRem(16);
    }

    & > .org-paragraph {
      text-align: center;
      margin-top: pxToRem(34);
    }

    & p {
      max-width: pxToRem(900);
      width: 100%;
    }

    & h1 {
      text-align: center;
    }
  }

  &__customer-img {
    margin-top: pxToRem(60);
    margin-bottom: pxToRem(17);
  }

  &__customer-rating {
    & img {
      transform: scale(1.3);

      &:not(:last-child) {
        padding-right: pxToRem(5);
      }
    }
  }

  &__customer-name {
    font-family: var(--ff-secondary);
    font-weight: 700;
    font-size: var(--fs-7);
    line-height: 1.3;
    color: var(--secondary-color);

    padding-top: pxToRem(23);
  }
  &__consumer {
    font-family: var(--ff-primary);
    font-size: var(--fs-9);
    color: var(--dark-grey-color);

    padding-top: pxToRem(5);
  }

  &__divider {
    height: pxToRem(1);
    max-width: pxToRem(966);
    width: 100%;
    background-color: var(--grey);

    margin-top: pxToRem(96);
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: pxToRem(26);
    margin-top: pxToRem(100);
  }

  &__item {
    width: pxToRem(250);
    height: pxToRem(250);
    border: pxToRem(1) solid var(--primary-color);
    border-radius: 50%;
    border-width: pxToRem(6) pxToRem(3) pxToRem(3) pxToRem(6);
  }

  &__item-inner {
    width: 100%;
    height: 100%;

    border: pxToRem(3) solid var(--white);

    background-color: var(--dark-grey);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__number {
    font-family: var(--ff-secondary);
    font-weight: 700;
    font-size: var(--fs-4);
    color: var(--secondary-color);
    letter-spacing: pxToRem(0.36);
    line-height: 1.3;
  }

  &__text {
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: var(--fs-6);
    color: var(--secondary-color);
    letter-spacing: pxToRem(0.36);
    line-height: 1.3;
    padding-top: pxToRem(6);
  }
}

@media (max-width: 768px) {
  .org-testimonial__divider {
    margin-top: pxToRem(48);
  }
  .org-testimonial__advantages {
    margin-top: pxToRem(48);
  }

  .org-testimonial__item {
    width: pxToRem(220);
    height: pxToRem(220);
  }
}
