@import '../_functions.scss';

.org-about-us {
  background-color: var(--light-grey);

  &-content {
    padding: pxToRem(130) 0 pxToRem(140) 0;
  }

  &__body {
    & > .org-label {
      padding-bottom: pxToRem(16);
    }

    & > .org-title {
      padding-bottom: pxToRem(24);
    }

    & > .list {
      padding: pxToRem(56) 0;
    }
  }
}

.list {
  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: var(--fs-7);
    line-height: 1.4;
    color: var(--secondary-color);
  }

  &__item {
    display: flex;

    &:first-child {
      padding-bottom: pxToRem(30);
    }
  }

  &__icon {
    padding: pxToRem(27) pxToRem(24);
    background-color: var(--white);
    border-radius: pxToRem(20);
    margin-right: pxToRem(20);
  }
}

@media (max-width: 1200px) {
  .org-about-us {
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
