@import '../_functions.scss';

.org-header-content {
  max-height: pxToRem(72);
  height: 100%;
  margin: pxToRem(40) 0;

  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-1);
  color: var(--secondary-color);
}

.org-logo {
  margin-right: pxToRem(120);
  img:first-child {
    padding-right: pxToRem(10);
  }
}

.org-navigation {
  flex: 1;

  &__items {
    display: flex;

    cursor: pointer;
  }

  &__item {
    padding-right: pxToRem(40);

    &:last-child {
      padding-left: pxToRem(20);
    }
  }

  &--active {
    color: var(--primary-color);
  }
}

.cart {
  border: 1px solid #d4d4d4;
  border-radius: pxToRem(33);

  display: flex;
  align-items: center;

  padding: pxToRem(7) 0;
  padding-left: pxToRem(11);

  &__image {
    width: pxToRem(56);
    height: pxToRem(56);
    background-color: var(--secondary-color);
    border-radius: pxToRem(100);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: pxToRem(10);
  }

  &__text {
    margin-right: pxToRem(24);
  }
}
