@import '../_functions.scss';

.org-header-content {
  max-height: pxToRem(72);
  height: 100%;
  margin: pxToRem(40) 0;

  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-1);
  color: var(--secondary-color);
}

.org-logo {
  display: flex;
  align-items: center;
  margin-right: pxToRem(120);

  & img:last-child {
    height: pxToRem(36);
  }
  img:first-child {
    padding-right: pxToRem(10);
  }
}

.org-navigation {
  flex: 1;

  &__items {
    display: flex;

    cursor: pointer;
  }

  &__item {
    &:not(:last-child) {
      padding-right: pxToRem(40);
    }

    &:last-child {
      padding-left: pxToRem(20);
    }
  }

  &--active {
    color: var(--primary-color);
  }
}

.cart {
  border: 1px solid #d4d4d4;
  border-radius: pxToRem(33);

  display: flex;
  align-items: center;

  padding: pxToRem(7) 0;
  padding-left: pxToRem(11);

  cursor: pointer;

  &__image {
    width: pxToRem(56);
    height: pxToRem(56);
    background-color: var(--secondary-color);
    border-radius: pxToRem(100);

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: pxToRem(10);
  }

  &__text {
    margin-right: pxToRem(24);
  }
}

.org-burger-button {
  display: flex;
  margin-left: auto;
  flex-direction: column;

  cursor: pointer;

  display: none;

  & span {
    display: block;
    width: 2.5rem;
    height: 0.2rem;
    background-color: var(--secondary-color);

    &:not(:first-child) {
      margin-top: 0.3rem;
    }
  }
}

.org-burger {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: var(--white);
}

@media (max-width: 1200px) {
  .org-logo {
    margin-right: 2rem;
  }

  .org-navigation {
    &__item {
      &:last-child {
        padding-left: 1rem;
      }
    }
  }
}

@media (max-width: 1024px) {
  .org-navigation {
    &__item {
      &:not(:last-child) {
        padding-right: 1rem;
      }

      &:last-child {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 820px) {
  .org-navigation {
    display: none;
  }

  .cart {
    display: none;
  }

  .org-burger-button {
    display: flex;
  }
}
