@import '../_functions.scss';

.org-hero {
  position: relative;
  height: pxToRem(913);

  &__bg-image {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -10;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding-top: pxToRem(220);
    color: var(--secondary-color);
  }

  &__subtitle {
    font-family: 'Yellowtail', sans-serif;
    font-size: var(--fs-2);
    color: var(--primary-color);

    padding-bottom: pxToRem(30);
  }

  & .org-title {
    padding-top: pxToRem(14);
    padding-bottom: pxToRem(30);
  }
}
