@import '../_functions.scss';

.org-our-products {
  &-content {
    padding: pxToRem(128) 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: pxToRem(42);
  }
}
