@import '../_functions.scss';

.org-testimonial {
  position: relative;

  &-bg-image {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -10;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: pxToRem(130);
    padding-bottom: pxToRem(150);

    & > .org-label {
      margin-bottom: pxToRem(16);
    }

    & > .org-paragraph {
      text-align: center;
      margin-top: pxToRem(34);
    }
  }

  &__customer-img {
    margin-top: 3.75rem; // 60px
    margin-bottom: 1.1rem;
  }

  &__customer-rating {
    & img {
      transform: scale(1.3);

      &:not(:last-child) {
        padding-right: 0.35rem;
      }
    }
  }

  &__customer-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: var(--fs-7);
    line-height: 1.3;
    color: var(--secondary-color);

    padding-top: 1.438rem; // 23px
  }
  &__consumer {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--fs-9);
    color: var(--dark-grey-color);

    padding-top: 0.3rem;
  }

  &__divider {
    height: 0.1rem;
    width: 60.375rem; // 966px;
    background-color: var(--grey);

    margin-top: 6rem; // 96px
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1.625rem; // 26px
    margin-top: 6.25rem; // 100px
  }

  &__item {
    width: 15.625rem; // 250px
    height: 15.625rem;
    border: 0.1rem solid var(--primary-color);
    border-radius: 50%;
    border-width: 0.4rem 0.2rem 0.2rem 0.4rem;
  }

  &__item-inner {
    width: 100%;
    height: 100%;

    border: 0.2rem solid var(--white);

    background-color: var(--dark-grey);
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__number {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: var(--fs-4);
    color: var(--secondary-color);
    letter-spacing: pxToRem(0.36);
    line-height: 1.3;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: var(--fs-6);
    color: var(--secondary-color);
    letter-spacing: pxToRem(0.36);
    line-height: 1.3;
    padding-top: 0.4rem;
  }
}
