footer.org-container#contact-us
  .org-footer__content
    .org-footer__body
      .org-footer__contact
        h3.org-footer__title Contact Us
        .org-footer__subtitle Email
        a(href='mailto:needhelp@organick.com').org-footer__link needhelp@organick.com
        .org-footer__subtitle Phone
        a(href="tel: 12312541452").org-footer__link 123 (1254) 1452
        .org-footer__subtitle Address
        a(href='http://maps.google.com/?q=88 Road, Brooklyn Street, USA').org-footer__link 88 Road, Brooklyn Street, USA
      .org-footer__company
        .org-footer__logo
          img(src="../assets/svg/logo-image.svg", alt="logo-image")
          img(src="../assets/svg/logo-text.svg", alt="logo-text")
        p.org-paragraph We are a popular and farming company aspiring to be a leader in the Organic food industry.
        .org-footer__social-media 
          a(href='#').org-footer__socials-img 
            img(src="../assets/svg/facebook.svg", alt="facebook-image")
          a(href='#').org-footer__socials-img
            img(src="../assets/svg/twitter.svg", alt="twitter-image")
          a(href='#').org-footer__socials-img 
            img(src="../assets/svg/instagram.svg", alt="instagram-image")
          a(href='#').org-footer__socials-img
            img(src="../assets/svg/pinterest.svg", alt="pinterest-image")
      .org-footer__utility-pages
        h3.org-footer__title Utility Pages
        a(href="#").org-footer__link Protected 
        a(href="#").org-footer__link Page Not Found 
        a(href="#").org-footer__link Changelog
        a(href="#").org-footer__link Licenses
.copyright
  p.org-paragraph #[span Copyright © Organick | Designed by] #[a(href='#') VictorFlow] #[span - Powered by] #[a(href='#') Webflow]
        