header.org-container
  .org-header-content
    a(href="#").org-logo 
      img(src="../assets/svg/logo-image.svg", alt="organick-logo")
      img(src="../assets/svg/logo-text.svg", alt="organick-text")
    nav.org-navigation 
      ul.org-navigation__items 
        li.org-navigation__item.org-navigation--active Home
        li.org-navigation__item About Us
        li.org-navigation__item Shop
        li.org-navigation__item Pages 
        li.org-navigation__item Contact Us
    .cart
      .cart__image 
        img(src="../assets/svg/cart.svg", alt="cart")
      .cart__text Cart 0


