header.org-container
  .org-header__content
    a(href="#").org-logo 
      img(src="../assets/svg/logo-image.svg", alt="organick-logo")
      img(src="../assets/svg/logo-text.svg", alt="organick-text")
    nav.org-navigation 
      ul.org-navigation__items 
        li.org-navigation__item.org-navigation--active 
          a(href="#") Home
        li.org-navigation__item 
          a(href="#about-us") About Us 
        li.org-navigation__item 
          a(href="#") Shop 
        li.org-navigation__item 
          a(href="#") Pages 
        li.org-navigation__item 
          a(href="#contact-us") Contact Us
    .cart
      .cart__image 
        img(src="../assets/svg/cart.svg", alt="cart")
      .cart__text Cart 0
    
    nav.org-burger 
      ul.org-burger__items
        li.org-burger__item.org-navigation--active
          a(href="#") Home
        li.org-burger__item
          a(href="#about-us") About Us 
        li.org-burger__item
          a(href="#") Shop 
        li.org-burger__item
          a(href="#") Pages 
        li.org-burger__item 
          a(href="#contact-us") Contact Us
        li.org-burger__item 
          a(href="#contact-us") Cart
    .org-burger-button  
      span
      span
      span

