- var label = "Made with nature";
- var title = 'Welcome to the world of nature and organic.';
- var buttonText = 'Explore now'

section.org-hero
  .org-hero__bg-image 
    img(src="../assets/png/hero-image.png", alt="hero-image")
  .org-container
    .org-hero-content 
      h3.org-label= label
      h1.org-title.org-title--lg= title
      +org-button(buttonText, 'org-btn--tertiary')
