section.org-natural-offer 
  .org-container 
    .org-natural-offer-content 
      .row 
        .col-left 
          .org-natural-offer__item
            .org-natural-offer__img
              img(src="../assets/png/fresh-fruits.png", alt="fresh-fruits")
            .org-natural-offer__body
              h3.org-natural-offer__subtitle.fresh-fruits Natural!!
              .org-natural-offer__title.fresh-fruits Get Garden <br> Fresh Fruits
            
        .col-right
          .org-natural-offer__item
            .org-natural-offer__img
              img(src="../assets/png/vegetables.png", alt="vegetables")
            .org-natural-offer__body
              h3.org-natural-offer__subtitle Offer!!
              .org-natural-offer__title Get 10% off <br> on Vegetables







      //- .org-natural-offer__items
      //-   .org-natural-offer__item
      //-     img(src="../assets/png/fresh-fruits.png", alt="fresh-fruits").org-natural-offer__img
      //-     .org-natural-offer__body
      //-       h3.org-natural-offer__subtitle.fresh-fruits Natural!!
      //-       .org-natural-offer__title.fresh-fruits Get Garden <br> Fresh Fruits
      //-   .org-natural-offer__item
      //-     img(src="../assets/png/vegetables.png", alt="vegetables").org-natural-offer__img
      //-     .org-natural-offer__body
      //-       h3.org-natural-offer__subtitle Offer!!
      //-       .org-natural-offer__title Get 10% off <br> on Vegetables

