section.org-products-showcase 
  .org-container 
    .org-products-showcase__content
      .org-products__item
        .org-products__image
          img(src="../assets/png/fruit-juice.png", alt="fruit-juice")
        .org-products__text Fruit Juice
      .org-products__item
        .org-products__image
          img(src="../assets/png/organic-food.png", alt="organic-food")
        .org-products__text Organic Food
      .org-products__item
        .org-products__image
          img(src="../assets/png/nuts-cookies.png", alt="nuts-cookies")
        .org-products__text Nuts Cookies
      