section.org-subscribe-to-newsletter 
  .org-container 
    .org-subscribe-to-newsletter-content 
      .org-subscribe-to-newsletter__bg-image 
        img(src="../assets/png/bg-newsletter.png", alt="newsletter")
      .org-subscribe-to-newsletter__body 
        h2.org-subscribe-to-newsletter__title Subscribe Our Newsletter
        form.org-subscribe-to-newsletter__form
          input(type='text' placeholder='Enter your email address').org-subscribe-to-newsletter__input 
          button(type='submit').org-subscribe-to-newsletter__btn 
            .org-subscribe-to-newsletter__btn-test Subscribe
            .org-subscribe-to-newsletter__btn-icon
              img(src="../assets/svg/arrow.svg", alt="arrow-svg")
